body {
  font-family: 'Courier New', monospace; /* inna czcionka */
  margin: 0;
  padding: 0;
  background-color: #ffe0b2; /* jasnopomarańczowe tło */
  line-height: 1.8;
}

header {
  background-color: #ff5722; /* pomarańczowe tło */
  color: #000; /* czarny tekst */
  padding: 40px 0;
  text-align: left; /* wyrównanie do lewej */
  padding-left: 50px; /* większy padding z lewej */
  border-bottom: 10px solid #424242; /* gruby ciemny pasek */
}

h1 {
  font-size: 4em; /* bardzo duża czcionka dla h1 */
  margin: 0;
  color: #ffffff; /* biały tekst */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* efekt cienia */
}

h2 {
  font-size: 2.5em; /* większa czcionka dla h2 */
  margin: 20px 0;
  color: #4e342e; /* brązowy kolor */
}

h3 {
  font-size: 3em; /* większa czcionka dla h3 */
  color: #ff5722; /* pomarańczowy kolor */
  background-color: #ffe0b2; /* jasnopomarańczowe tło */
  padding: 20px;
  border-radius: 20px; /* mocno zaokrąglone rogi */
  border: 5px solid #ff5722; /* gruba ramka */
  text-align: center;
  margin: 40px 0; /* większy margines */
  transition: background-color 0.5s, transform 0.5s; /* dłuższe przejścia */
}

h3:hover {
  background-color: #ffccbc; /* jaśniejsze tło po najechaniu */
  transform: rotate(3deg); /* delikatny obrót */
}

p {
  font-size: 1.5em; /* większa czcionka */
  color: #212121; /* ciemniejszy tekst */
  padding: 0 40px; /* większy padding */
  margin: 20px 0; /* większe odstępy */
}

ul {
  list-style-type: disc; /* punkty w liście jako kropki */
  padding-left: 50px; /* więcej miejsca dla listy */
}

.gallery {
  display: grid; /* uklad siatki */
  grid-template-columns: 1fr 1fr 1fr; /* 3 kolumny */
  gap: 20px; /* odstępy między obrazkami */
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 20px; /* mocno zaokrąglone rogi */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* większy cień */
  transition: transform 0.3s, filter 0.3s; /* dodanie efektu filtracji */
}

.gallery img:hover {
  transform: scale(1.15); /* większe powiększenie obrazków */
  filter: brightness(1.2); /* rozjaśnienie obrazków */
}

footer {
  background-color: #ff5722; /* pomarańczowe tło */
  color: #000; /* czarny tekst */
  text-align: left;
  padding: 20px;
  padding-left: 50px;
  font-size: 1.2em;
  border-top: 10px solid #424242; /* gruby pasek na górze stopki */
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.1em;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    width: 80%;
    margin-bottom: 20px;
  }
  .gallery img:hover {
    transform: scale(1.45);
  }
}
